@media screen and (min-width: 64em) {
  .container {
    position: relative;
  }

  .containerbackground {
    position: absolute;
    z-index: -1;
    top: 0%;
    left: 10%;
    transform: rotate3d(6, 4, 4, -60deg);
    text-transform: uppercase;
    font-size: 10em;
    font-weight: 700;
    user-select: none;
    color: #f5f5f5;
    text-shadow: 0px 1px 1px #919191, 0px 2px 1px #919191, -1px 3px 1px #919191,
      -2px 4px 1px #919191, -3px 5px 1px #919191, -4px 6px 1px #919191,
      -5px 7px 1px #919191, -6px 8px 1px #919191, -7px 9px 1px #919191,
      -8px 10px 1px #919191, -9px 11px 1px #919191, -10px 12px 1px #919191,
      -11px 13px 1px #919191, -12px 14px 1px #919191, -13px 15px 1px #919191,
      -14px 16px 1px #919191, -15px 17px 1px #919191,
      -23px 26px 6px rgba(16, 16, 16, 0.4),
      -26px 30px 10px rgba(16, 16, 16, 0.2),
      -29px 33px 35px rgba(16, 16, 16, 0.2),
      -31px 36px 60px rgba(16, 16, 16, 0.4);

    color: #fff;
    display: inline-block;
  }

  .containerbackground:before {
    position: absolute;
    content: attr(data-text);
    color: #f20467;

    clip-path: circle(0.4em at var(--x, -500%) var(--y, 20%));
  }

  .softwareWord,
  .developerWord {
    opacity: 0.15;
    text-shadow: none;
    color: rgb(63, 62, 62);
  }

  .softwareWord:before,
  .developerWord:before {
    position: absolute;
    content: attr(data-text);
    color: #f20467;
    clip-path: circle(0.4em at var(--x, -500%) var(--y, 20%));
  }

  .bubble {
    position: absolute;
    top: -2vh;
    left: 11vw;
    z-index: -1;
    width: 20vw;
    opacity: 1;
    user-select: none;
    -webkit-user-drag: none;
    transform-origin: bottom left;
  }

  .bubble-md {
    top: 7.5vh;
    left: 68.5vw;
    width: 39vw;
    transform-origin: top;
  }

  .bubble-lg {
    top: 40vh;
    right: 11vw;
    left: auto;
    width: 49vw;
    transform-origin: bottom right;
  }

  .shadow {
    position: absolute;
    top: 2vh;
    left: 18vw;
    z-index: -1;
    width: 20vw;
    user-select: none;
    -webkit-user-drag: none;
    transform-origin: bottom left;
  }

  .shadow-md {
    top: 49.5vh;
    left: 68.5vw;
    width: 20vw;
    transform-origin: top;
  }
}
