.headingBar {
  display: flex;
  align-items: top;
  justify-content: flex-end;
}

.menu {
  list-style: none;
  font-size: large;
  display: flex;
  gap: 60px;
}
.menu a {
  color: black;
  text-decoration: none;
}

/* .menu a:visited {
  color: black;
} */

.menu a:hover {
  color: #f20467;
}
