.janis-image {
  width: 30vw;
}

.janis-image-two {
  /* position: absolute; */
  /* top: 33%;
  left: 21.5%; */
  width: 245px;
  border-radius: 50%;
  border: 0.5rem solid white;
  /* filter: drop-shadow(30px 10px 4px #484849); */
  /* padding: 10vh 10vw; */
}

.wheel {
  width: 300px;
  height: 200px;
  background-color: transparent;
  position: absolute;
  left: 27.5%;
  top: 53%;
  transform: translate(-50%, -50%);
}

.card {
  width: 150px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* border: 3mm ridge rgb(220 180 50 / 60%); */
  cursor: pointer;
}

.card:hover {
  background-color: rgb(236, 169, 200);
}

.aboutChoice {
  display: flex;
  gap: 14vw;
}

.aboutMessage {
  width: 40vw;
  user-select: none;
}

.intoName {
  padding-top: 24vh;
}

.cardsGroup .janis-image-two {
  margin-top: 21vh;
  margin-left: 11.5vw;
}

.aboutImage {
  display: flex;
  justify-content: space-evenly;
}

.aboutImage img {
  height: 17vh;
  border-radius: 10px;
}

.resume {
  position: absolute;
  color: black;
  left: 83%;
  bottom: 7%;
  font-size: 1.3em;
  text-decoration: none;
  background-color: lightgrey;
  padding: 5px 14px;
  border-radius: 15px;
}

.resume:hover {
  color: #f20467;
}
