.janis-image {
  width: 30vw;
}

.janis-image-two {
  display: block;
  margin: 0 auto;
  width: 245px;
  border-radius: 50%;
  border: 0.5rem solid white;
}

.about-desktop {
  height: 70vh;
}

.wheel {
  width: 300px;
  height: 200px;
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card {
  width: 150px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* border: 3mm ridge rgb(220 180 50 / 60%); */
  cursor: pointer;
}

.card:hover {
  background-color: rgb(236, 169, 200);
}

.aboutChoice {
  display: flex;
  gap: 14vw;
  height: 100%;
}

.aboutMessage {
  width: 40vw;
  user-select: none;
}

.intoName {
  padding-top: 24vh;
}

.cardsGroup {
  flex: 1;
}

.cardContainer {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aboutImage {
  display: flex;
  justify-content: space-evenly;
}

.aboutImage img {
  height: 17vh;
  border-radius: 10px;
}

.resume {
  position: absolute;
  color: black;
  left: 83%;
  bottom: 7%;
  font-size: 1.3em;
  text-decoration: none;
  background-color: lightgrey;
  padding: 5px 14px;
  border-radius: 15px;
}

.resume:hover {
  color: #f20467;
}

.about-mobile {
  display: none;
}
@media only screen and (min-width: 1920px) {
  /* About */

  .side-wrapper {
    padding: 9vh 20vw;
  }

  .side-wrapper .headingBar a {
    font-size: 1.3em;
  }

  .about .aboutChoice {
    gap: 9vw;
  }

  .about .intoName {
    padding-top: 14vh;
  }

  .aboutChoice .aboutMessage {
    width: 27vw;
    margin-top: 10vh;
  }

  .aboutChoice .aboutImage img {
    height: 12vh;
  }

  .resume {
    left: 72%;
    bottom: 30%;
  }
}

@media only screen and (max-width: 1024px) {
  /* About */

  .about-desktop {
    display: none;
  }

  .about-mobile {
    height: 100%;
    display: flex;

    flex-direction: column;
  }

  .mobile-janisImage {
    margin-top: 2%;
  }
  .mobile-janisImage .janis-image-two {
    display: block;
    width: 16vh;
    margin: 0 auto;
    border: 0.3rem solid white;
  }
  .mobile-intro {
    text-align: center;
  }

  .mobile-aboutGroup {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5%;
    margin: 0 5%;
  }

  .mobile-card {
    justify-content: space-around;
    width: 100%;

    border-radius: 5px;
    background-color: white;
  }

  .mobile-tag {
    font-size: 0.8em;
    justify-content: space-around;
    width: 100%;
    /* height: 3vh; */
    margin: 0;
    text-align: center;
    font-weight: 600;
  }

  .displayNone {
    display: none;
  }

  .mobile-aboutModule {
    position: absolute;
    z-index: 2;
    background: white;
    width: 70%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 15px;
    height: 80%;
    text-align: center;
    padding: 0 2vw;
  }

  .mobile-aboutModule .aboutMessage {
    width: 100%;
  }

  .mobile-aboutModule h1 {
    font-size: 1.8em;
  }

  .mobile-aboutModule .aboutImage img {
    height: 11vh;
  }

  .mobile-aboutModule h5 {
    font-size: 0.6em;
    text-align: left;
  }
}

@media only screen and (max-width: 640px) {
  .mobile-aboutGroup {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .mobile-aboutModule {
    width: 90%;
  }
}
