.codingbackground {
  transform: rotate3d(6, 4, 4, -60deg);
  text-transform: uppercase;
  font-size: 10em;
  font-weight: 700;
  user-select: none;
  color: #f5f5f5;
  text-shadow: 0px 1px 1px #919191, 0px 2px 1px #919191, -1px 3px 1px #919191,
    -2px 4px 1px #919191, -3px 5px 1px #919191, -4px 6px 1px #919191,
    -5px 7px 1px #919191, -6px 8px 1px #919191, -7px 9px 1px #919191,
    -8px 10px 1px #919191, -9px 11px 1px #919191, -10px 12px 1px #919191,
    -11px 13px 1px #919191, -12px 14px 1px #919191, -13px 15px 1px #919191,
    -14px 16px 1px #919191, -15px 17px 1px #919191,
    -23px 26px 6px rgba(16, 16, 16, 0.4), -26px 30px 10px rgba(16, 16, 16, 0.2),
    -29px 33px 35px rgba(16, 16, 16, 0.2), -31px 36px 60px rgba(16, 16, 16, 0.4);

  color: #fff;
  display: inline-block;
}

.enterSign {
  padding-left: 72vw;
  font-size: 5em;
}

.enterSign:hover {
  text-decoration: overline;
  cursor: pointer;
}

/* .codingSkills {
  z-index: 3;
  position: relative;
} */

.skill {
  justify-content: flex-start;
  gap: 8vw;
  padding: 0vh 5vw;
}

.codingSkills h1 {
  transform: rotate3d(6, 4, 4, -60deg);
  text-transform: uppercase;
  font-size: 5em;
  font-weight: 700;
  user-select: none;
  color: #f5f5f5;
  text-shadow: 0px 1px 1px #919191, 0px 2px 1px #919191, -1px 3px 1px #919191,
    -2px 4px 1px #919191, -3px 5px 1px #919191, -4px 6px 1px #919191,
    -5px 7px 1px #919191, -6px 8px 1px #919191, -7px 9px 1px #919191,
    -8px 10px 1px #919191, -9px 11px 1px #919191, -10px 12px 1px #919191,
    -11px 13px 1px #919191, -12px 14px 1px #919191, -13px 15px 1px #919191,
    -14px 16px 1px #919191, -15px 17px 1px #919191,
    -23px 26px 6px rgba(16, 16, 16, 0.4), -26px 30px 10px rgba(16, 16, 16, 0.2),
    -29px 33px 35px rgba(16, 16, 16, 0.2), -31px 36px 60px rgba(16, 16, 16, 0.4);

  color: #fff;
  display: inline-block;
  text-align: center;
}

.side-wrapper .coding-mobile {
  display: none;
}

@media only screen and (min-width: 1920px) {
  /* Coding Skill */

  .coding .codingbackground {
    margin-top: 22vh;
  }
  .coding .enterSign {
    padding-left: 53vw;
  }

  .skill {
    margin-top: 10vh;
    gap: 5vw;
  }

  .coding .codingSkills h1 {
    font-size: 6em;
  }

  .codingSkills .section {
    padding-top: 0vh;
    width: 48%;
  }

  .section .card-3d-wrap {
    height: 40%;
  }

  .section .skill-logo {
    height: 6vh;
  }

  .section .skill-label .skill-logo {
    height: 5vh;
  }

  .section h3 {
    font-size: 2em;
  }

  .skill-wrap h4 {
    font-size: 1.5em;
  }

  .tech-logo {
    height: 7vh;
    margin: 0 0.5vw;
  }
  .card-front {
    width: 55%;
    height: 80%;
  }
}

@media only screen and (max-width: 640px) {
  .side-wrapper .coding-desktop {
    display: none;
  }
  .side-wrapper .coding-mobile {
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 40% 40%;
  }

  .mobile-flippingCard {
    position: relative;
    width: 100%;
    z-index: 1;
    display: block;
  }

  .coding-mobile h2 {
    text-align: center;
  }

  .card-3d-wrapper .card-front,
  .card-3d-wrapper .card-back {
    height: unset;
  }

  .build-tools h3 {
    text-align: center;
  }

  .card-3d-wrap {
    height: 67%;
    margin: 14px auto 0;
  }

  .card-front .skill-logo {
    height: 6vh;
  }
  .card-back .displayFlex .skill-logo {
    height: 5vh;
  }
  .tools {
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    justify-content: space-evenly;
  }

  .tech-logo {
    height: 8vh;
  }
}
