.contact {
  justify-content: flex-start;
  /* clear: right; */
}

.contactForm-wrapper {
  height: 83vh;
  width: 50%;
  /* display: grid; */
  /* place-content: center; */
}

.contactForm-wrapper .messageBeforeSent {
  margin-top: 6vh;
}

.contact-me {
  padding-top: 10vh;
  width: 30%;
}

.contact-form-structure {
  display: flex;
  justify-content: space-between;
}

.contact-janis {
  height: 60vh;
  opacity: 0.4;
}

.form-container {
  margin-top: 6vh;
  padding: 1vh 6vw;
  max-width: 70vw;
  background-color: white;
  box-shadow: 20px 20px 40px rgb(153, 152, 152);
  border-radius: 1em;
  position: relative;
  /* display: none; */
}

.contactForm-wrapper h1 {
  margin: 0.5em 0 0.5em;
}

.contactForm-wrapper .message-result {
  font-size: 1.7em;
  position: absolute;
  text-align: center;
  width: 47%;
  top: 23vh;
  color: #f20467;
  background-color: lightgrey;
  border-radius: 15px;
}

.paper-plane {
  position: absolute;
  z-index: -1;
  text-align: center;
  right: 29vw;
  top: 40vh;
}

.lottie-plane {
  width: 100%;
  height: 100bh;
  background-size: cover;
  pointer-events: none;
}

.form-container input,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  border: 1.5px solid rgb(219, 219, 219);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}

.form-block {
  display: inline;
  width: 100%;
  padding: 0.8em;
  border: 1px solid gray;
  margin-bottom: 1em;
  border-radius: 5px;
}

.form-message {
  width: 100%;
  resize: vertical;
  padding: 15px;
  height: 90px;
  max-height: 110px;
}

.contactForm-wrapper button {
  display: block;
  background-color: pink;
  color: white;
  border-radius: 5px;
  padding: 0.8em;
  margin: 3vh auto 1vh;
  font-family: 'Tektur', sans-serif;
}

.contactForm-wrapper button:hover {
  cursor: pointer;
  background-color: #f20467;
}

.onstart {
  position: absolute;
  top: -66px;
  right: 14px;
}

.contact-icon {
  list-style: none;
  font-size: 3vh;
  position: absolute;
  right: 4vw;
  bottom: 0vh;
  background-color: #acacdf;
  gap: 2vh;

  border-radius: 5px;
  padding: 10px;
}

.contact-icon a {
  color: white;
  text-decoration: none;
}

.contact-icon a:hover {
  color: #f20467;
}

@media only screen and (min-width: 1920px) {
  /* Contact */
  .contact {
    justify-content: space-evenly;
  }
  .contact .contactForm-wrapper .message-result {
    width: 30%;
  }

  .contact .contact-icon {
    right: 19vw;
    font-size: 2em;
  }

  .contact .paper-plane {
    right: 39vw;
  }
}

@media only screen and (max-width: 640px) {
  .contact {
    justify-content: space-evenly;
  }
  .contact-me {
    padding-top: 0;
  }

  .contact-me h1 {
    margin-top: 14vh;
  }

  .contact-me h2 {
    font-size: 1em;
  }
  .contact-janis {
    height: 56vh;
  }

  .contact-icon {
    right: 61vw;
  }

  .contact-icon a {
    font-size: 0.7em;
  }

  .onstart {
    display: none;
  }
  .contactForm-wrapper {
    height: 100%;
  }

  .contactForm-wrapper h1 {
    font-size: 1em;
  }

  .contactForm-wrapper p {
    font-size: 0.8em;
  }

  .contactForm-wrapper input {
    height: 3.5vh;
  }

  .contactForm-wrapper textarea {
    width: 95%;

    padding: 0.5vh 0.5vw;
  }

  .contact-form-structure {
    display: block;
  }

  .form-block {
    padding: 0.5vh 0.5vw;
    width: 95%;
  }
  .form-container {
    margin-top: 70%;
    padding: 1vh 2vw;
  }
}
