@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

.projects {
  color: white;
  z-index: 5;
  font-size: 2.5em;
  list-style: none;
  overflow: overlay;
  height: 65vh;
  /* width: 38vw; */
  padding: 0 3vw;
  cursor: pointer;
  transform: rotate3d(6, 4, 4, -60deg);
  text-shadow: 0px 1px 1px #919191, 0px 2px 1px #919191, -1px 3px 1px #919191,
    -2px 4px 1px #919191, -3px 5px 1px #919191, -4px 6px 1px #919191,
    -5px 7px 1px #919191, -6px 8px 1px #919191, -7px 9px 1px #919191,
    -23px 26px 6px rgba(16, 16, 16, 0.4), -26px 30px 10px rgba(16, 16, 16, 0.2),
    -29px 33px 35px rgba(16, 16, 16, 0.2), -31px 36px 60px rgba(16, 16, 16, 0.4);
  line-height: 15vh;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  direction: ltr;
  background: black;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.projects li:hover {
  color: #f20467;
}

.work {
  width: 40vw;
}

.work-image {
  width: 100%;
  border-radius: 15px;
  box-shadow: 8px 8px 10px 1px rgba(108, 108, 109, 0.6);
}

.work-image:hover {
  transition-duration: 2s;
  transform: scale(1.05);
}

.work-image-smaller {
  width: 80%;
}

.content {
  display: flex;
  gap: 7vw;
}

.click-for-more {
  color: black;
}

.click-for-more:hover {
  color: #f20467;
}

.skill-image {
  height: 5vh;
  margin: 0 0.5vw;
}

.active {
  color: #f20467;
}

.myWork-mobile {
  display: none;
}

.clickForMore {
  display: none;
}

@media only screen and (min-width: 1920px) {
  /* My Work */
  .myWork .content {
    gap: 8vw;
  }
  .content .projects {
    line-height: 9vh;
    width: 25vw;
  }
  .work p {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 640px) {
  .side-wrapper .myWork-desktop {
    display: none;
  }
  .side-wrapper .myWork-mobile {
    height: 100vh;
    display: grid;
    grid-template-rows: 12% 78%;
  }

  .side-wrapper .myWork-mobile h1 {
    text-align: center;
  }

  .mobile-work {
    width: 100%;
    display: block;
    margin: 0 auto;
    overflow: scroll;
  }

  .mobile-work-container {
    position: relative;
    margin: 3vh 0;
  }

  .mobile-workImage {
    display: block;
    width: 90%;

    height: 69%;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 9px;
    box-shadow: 4px 5px 5px #afa5a5;
  }
  .text-over-workImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    text-shadow: rgb(255 255 255) 0px 0px 0px;
    /* font-weight: bold; */
    font-size: larger;
    background: #121212;
    border-radius: 10px;
    padding: 5px 7px;
  }

  .displayNone {
    display: none;
  }

  .module-work {
    position: absolute;
    z-index: 2;
    background: white;
    width: 95%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 15px;
  }

  .module-work .work {
    width: 80%;
    margin: 0 auto;
  }
  .module-work h1 {
    font-size: 1.3em;
  }
  .module-work p {
    text-align: left;
  }

  .crossModule {
    float: right;
    padding: 5px 10px;
    font-size: x-large;
    cursor: pointer;
  }

  .skill-image {
    height: 4vh;
  }
  .clickForMore {
    display: block;
    text-decoration: none;
    margin: 2vh;
    color: #f20467;
  }
}
