.main-wrapper {
  z-index: 3;
}

.navBar {
  position: absolute;
  display: block;
  margin-top: 58vh;
  left: 2%;
  font-size: 1.5em;
  cursor: pointer;
}

.navBar li {
  list-style: none;
  text-align: left;
}

.navBar li a {
  color: black;
  text-decoration: none;
}

.navBar li a:hover {
  color: #f20467;
  font-size: x-large;
}
