@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;800&display=swap');

body {
  width: 100%;
  height: 100%;
  font-family: 'Tektur', sans-serif;

  background-color: rgb(219, 217, 217);
  overflow: hidden;
}

.side-wrapper {
  padding: 3vh 5vw;
}
