@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;800&display=swap');

body {
  width: 100%;
  height: 100%;
  font-family: 'Tektur', sans-serif;

  background-color: rgb(219, 217, 217);
  overflow: hidden;
}

.side-wrapper {
  padding: 1vh 5vw;
}

.activeButton {
  color: #f20467;
  font-weight: bold;
}

.display-none,
.navBar-logo .janis-logo,
.lg-hidden {
  display: none;
}

.desktopLogo .janis-logo {
  position: absolute;
  width: 7vw;
  padding: 5vh;
}

.side-wrapper .main-wrapper {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .animation-common {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
    animation-delay: var(--delay);
  }

  .bubble {
    scale: 0;
    animation-name: scaleIn, bounce;
    animation-duration: 10s, 5s;
    animation-iteration-count: 1, infinite;
    transition: translate 4s;
  }

  .mobile-bubble {
    /* scale: 0; */
    animation-name: bounce;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: translate 4s;
  }

  .shadow {
    scale: 0;
    animation-name: scaleIn, fadeIn;
    animation-duration: 10s, 5s;
    animation-iteration-count: 1, infinite;
    transition: translate 4s;
    transform: rotate3d(6, 4, 4, -60deg);
  }

  /* .to-right {
    display: block;
    opacity: 0;
  } */

  .to-right {
    animation-name: toRight;
  }

  .to-left {
    animation: toLeft 5s;
    animation-iteration-count: 1;
  }

  .to-Bottom {
    animation: toBottom 1s;
    animation-iteration-count: 1;
  }

  .right-to-left {
    animation: rightToLeft 2s;
    animation-iteration-count: 1;
  }

  .scaleChange {
    animation-name: scaleChange;
  }

  .fade-in-text {
    animation: fadeInText 5s;
    -webkit-animation: fadeInText 5s;
    -moz-animation: fadeInText 5s;
    -o-animation: fadeInText 5s;
    -ms-animation: fadeInText 5s;
  }

  .fade-out-text {
    animation: fadeOutText 5s;
    -webkit-animation: fadeOutText 5s;
    -moz-animation: fadeOutText 5s;
    -o-animation: fadeOutText 5s;
    -ms-animation: fadeOutText 5s;
  }

  .displayFlex {
    display: flex;
    justify-content: space-evenly;
  }

  .hidden {
    display: none;
  }

  /* Keyframes */
  @keyframes fadeInText {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeOutText {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes toRight {
    from {
      opacity: 1;

      transform: translateX(-100%);
    }

    to {
      opacity: 1;
      transform: none, rotate3d(6, 4, 4, -60deg);
    }
  }

  @keyframes toBottom {
    from {
      opacity: 1;

      transform: translateY(-100%);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes toLeft {
    from {
      opacity: 1;
      transform: none, rotate3d(6, 4, 4, -60deg);
    }

    to {
      opacity: 1;
      transform: translateX(-150%);
    }
  }

  @keyframes rightToLeft {
    from {
      opacity: 1;
      transform: translateX(80%);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 0.5;
    }
  }

  @keyframes scaleIn {
    from {
      scale: 7;
    }

    to {
      scale: 1;
    }
  }

  @keyframes bounce {
    0% {
      transform: translateY(-0px);
    }

    50% {
      transform: translateY(-150px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  @keyframes scaleChange {
    from {
      scale: 0;
    }

    to {
      scale: 1;
    }
  }

  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }

    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }
}

@media only screen and (min-width: 1920px) {
  /* Background */
  .desktopLogo .janis-logo {
    width: 5vw;
    left: 16vw;
  }
  .background .containerbackground {
    top: 7%;
    left: 24%;
    font-size: 15em;
  }

  .background .bubble {
    left: 26vw;
  }
  .background .bubble-md {
    width: 30vw;
    left: 68vw;
  }

  .background .bubble-lg {
    top: 54vh;
    left: 46vw;
    width: 37vw;
  }

  .background .shadow {
    left: 33vw;
  }
  .background .shadow-md {
    left: 65vw;
    top: 37vh;
  }

  .main-wrapper .navBar {
    left: 18%;
    font-size: 2em;
  }
}

@media only screen and (max-width: 640px) {
  /* Home */
  body {
    margin: 0;
  }

  .desktopLogo .janis-logo {
    display: none;
  }

  header {
    background-color: #1d1f1d;
    height: 11vh;
    display: block;
  }

  header .main-wrapper {
    z-index: 2;
    position: relative;
  }

  .background .containerbackground {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5em;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    color: #f5f5f5;
    text-shadow: 0px 1px 1px #919191, 0px 2px 1px #919191, -1px 3px 1px #919191,
      -2px 4px 1px #919191, -3px 5px 1px #919191, -4px 6px 1px #919191,
      -5px 7px 1px #919191, -23px 26px 6px rgba(16, 16, 16, 0.4),
      -26px 30px 10px rgba(16, 16, 16, 0.2),
      -29px 33px 35px rgba(16, 16, 16, 0.2),
      -31px 36px 60px rgba(16, 16, 16, 0.4);
  }

  .navBar-logo {
    align-self: center;
    padding-left: 5vw;
  }

  .navBar-logo .janis-logo {
    display: inline-block;
    width: 11vw;
  }

  #hamburger-icon .display-none {
    display: none;
  }

  .navbarTop {
    height: 11vh;
    position: relative;
    z-index: 2;
    justify-content: space-between;
  }

  #hamburger-icon {
    margin: auto 0;
    cursor: pointer;
  }

  .navBar {
    position: unset;
    left: 0%;
  }

  .bar {
    height: 0.7vh;
    background-color: white;
    margin: 6px;
    transition: 0.4s;
  }

  .bars {
    width: 14vw;
    align-self: center;
    padding-right: 5vw;
  }

  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-2px, 4px);
  }

  .open .bar2 {
    opacity: 0;
  }

  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-11px, -13px);
  }

  .mobile-navbar {
    position: absolute;
    width: 100%;
  }

  .main-wrapper .mobile-menu {
    /* z-index: -1;
    position: unset; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #1d1f1d;
    padding: 12px 0 24px;
    margin-top: 0;
    position: relative;
    z-index: 1;
  }

  .main-wrapper .mobile-menu a {
    color: white;
    width: 100%;
    line-height: 2;
    font-size: 0.8em;
  }

  .main-wrapper .mobile-menu a:hover {
    color: #f20467;
  }

  .sm-hidden {
    display: none;
  }

  .mobile-bubble {
    position: absolute;
    display: unset;
    width: 73vw;
    bottom: 1%;
    right: 48%;
    user-select: none;
    -webkit-user-drag: none;
  }

  .mobile-bubble-md {
    position: absolute;
    display: unset;
    width: 112vw;
    bottom: 13%;
    right: -34%;
    user-select: none;
    -webkit-user-drag: none;
  }

  /* Pages-Navbar */
  .side-wrapper {
    padding: 0;
  }
  .side-wrapper .main-wrapper {
    display: block;
  }
  .side-wrapper .headingBar {
    display: none;
  }
}
